In [19]:
import os
import pandas as pd
import re
import openpyxl
import numpy as np

'''re.search(r"(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)", email)'''

're.search(r"(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+$)", email)'

In [ ]:
import win32com.client as win32
fname = "full+path+to+xls_file"
excel = win32.gencache.EnsureDispatch('Excel.Application')
wb = excel.Workbooks.Open(fname)

wb.SaveAs(fname+"x", FileFormat = 51)    #FileFormat = 51 is for .xlsx extension
wb.Close()                               #FileFormat = 56 is for .xls extension
excel.Application.Quit()

In [4]:
def validate(cpf: str) -> bool:

    """ Efetua a validação do CPF, tanto formatação quando dígito verificadores.

    Parâmetros:
        cpf (str): CPF a ser validado

    Retorno:
        bool:
            - Falso, quando o CPF não possuir 11 caracteres numéricos;
            - Falso, quando os dígitos verificadores forem inválidos;
            - Verdadeiro, caso contrário.

    Exemplos:

    >>> validate('529.982.247-25')
    True
    >>> validate('52998224725')
    False
    >>> validate('111.111.111-11')
    False
    """


    # Obtém apenas os números do CPF, ignorando pontuações
    numbers = [int(digit) for digit in cpf if digit.isdigit()]

    # Verifica se o CPF possui 11 números ou se todos são iguais:
    if len(numbers) != 11 or len(set(numbers)) == 1:
        return False

    # Validação do primeiro dígito verificador:
    sum_of_products = sum(a*b for a, b in zip(numbers[0:9], range(10, 1, -1)))
    expected_digit = (sum_of_products * 10 % 11) % 10
    if numbers[9] != expected_digit:
        return False

    # Validação do segundo dígito verificador:
    sum_of_products = sum(a*b for a, b in zip(numbers[0:10], range(11, 1, -1)))
    expected_digit = (sum_of_products * 10 % 11) % 10
    if numbers[10] != expected_digit:
        return False

    return True

def autocomplete(str, lenght, char, mode):
    while(len(str) < lenght):
        if mode == 'left':
            str = char + str
        if mode == 'right':
            str = str + char
    return str

In [5]:
print(autocomplete('1123', 11, '0', 'left'))

00000001123

In [20]:
df_samples_2= pd.read_csv('Certificados NEES - 100 DIAS 100 CUSTOS (1).csv', delimiter=';')
df_samples_2.head(3)

,E-mail,Turma,Nome do curso,CPF,Nome,Período do curso
0,gustavoabreu@id.uff.br,ABCMF2020.01,ABC do Mercado Financeiro,16258077757,Gustavo Abreu,30/03/2020 a 29/04/2020
1,silva989898@gmail.com,ABCMF2020.01,ABC do Mercado Financeiro,15753316751,Bruno Almeida,30/03/2020 a 29/04/2020
2,aniviivina@live.com,ABCMF2020.01,ABC do Mercado Financeiro,14200281708,Ivina Barbosa,30/03/2020 a 29/04/2020

In [23]:

test = [autocomplete(str(x), 11, '0', 'left') for x in df_samples['CPF'].values]
test

['08208366994', '39370361804', '39370361804']

In [24]:
validate('13720271730')

True

In [45]:
df_samples = pd.read_excel('Alunos_concluintes_convert.xlsx')
df_samples.head()

,#,CPF,Aluno,E-mail,Curso,Data da Prova,Nota
0,1,8208366994,ELISSIANE APARECIDA CAMPOS DOS SANTOS,camposelissiane@gmail.com,Empreendedorismo,29/07/2020,6
1,2,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Associativismo,25/10/2020,8
2,3,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Custos de Produção,08/11/2020,9

In [46]:
df_samples.loc[0,'CPF'].dtype

dtype('int64')

In [47]:
if df_samples['CPF'].dtype == str:
    print('test')

In [50]:
df_samples.dtypes

#                 int64
CPF              string
Aluno            string
E-mail           string
Curso            string
Data da Prova    object
Nota              int64
dtype: object

In [49]:
''' AUTOCOMPLETE CPF  AND FORMAT'''
df_samples['CPF'] = [autocomplete(str(x), 11, '0', 'left') for x in df_samples['CPF'].values]
df_samples['CPF'] = pd.Series(df_samples['CPF'], dtype="string")
df_samples['Aluno'] = pd.Series(df_samples['Aluno'], dtype="string")
df_samples['E-mail'] = pd.Series(df_samples['E-mail'], dtype="string")
df_samples['Curso'] = pd.Series(df_samples['Curso'], dtype="string")

#df_samples = df_samples[df_samples['Data da Prova'].apply(lambda x: pd.to_datetime(x, format='%d%m%Y', errors='ignore'))]

'''
df_samples['Data da Prova'] = [str(x).replace('/','-') for x in  df_samples['Data da Prova'].values]

df_samples['Data da Prova'] = [pd.to_datetime(x, format='%d%m%Y', errors='ignore') for x in  df_samples['Data da Prova'].values]
'''

"\ndf_samples['Data da Prova'] = [str(x).replace('/','-') for x in  df_samples['Data da Prova'].values]\n\ndf_samples['Data da Prova'] = [pd.to_datetime(x, format='%d%m%Y', errors='ignore') for x in  df_samples['Data da Prova'].values]\n"

In [40]:
df_samples.dtypes

#                 int64
CPF              string
Aluno            string
E-mail           string
Curso            string
Data da Prova    object
Nota              int64
dtype: object

In [101]:
''' VALIDATE CPF '''
df_samples[df_samples['CPF'].apply(lambda x: validate(str(x)))]

,#,CPF,Aluno,E-mail,Curso,Data da Prova,Nota
0,1,08208366994,ELISSIANE APARECIDA CAMPOS DOS SANTOS,camposelissiane@gmail.com,Empreendedorismo,29/07/2020,6
1,2,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Associativismo,25/10/2020,8
2,3,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Custos de Produção,08/11/2020,9

In [ ]:
''' NOT VALIDE CPF '''
df_samples[df_samples['CPF'].apply(lambda x: not validate(str(x)))]

In [54]:
df_samples

,#,CPF,Aluno,E-mail,Curso,Data da Prova,Nota,CPF_bool_mask
0,1,8208366994,ELISSIANE APARECIDA CAMPOS DOS SANTOS,camposelissiane@gmail.com,Empreendedorismo,29/07/2020,6,False
1,2,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Associativismo,25/10/2020,8,True
2,3,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Custos de Produção,08/11/2020,9,True

In [ ]:
df[df['CPF']==true]

In [51]:
df_samples

,#,CPF,Aluno,E-mail,Curso,Data da Prova,Nota
0,1,08208366994,ELISSIANE APARECIDA CAMPOS DOS SANTOS,camposelissiane@gmail.com,Empreendedorismo,29/07/2020,6
1,2,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Associativismo,25/10/2020,8
2,3,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Custos de Produção,08/11/2020,9

In [57]:
df_samples.Curso.unique()

<StringArray>
['Empreendedorismo', 'Associativismo', 'Custos de Produção']
Length: 3, dtype: string

In [58]:
tags = ['EMP', 'ASS', 'CP']

In [59]:
cursos = dict(zip(df_samples.Curso.unique(), tags))

In [60]:
cursos

{'Empreendedorismo': 'EMP',
 'Associativismo': 'ASS',
 'Custos de Produção': 'CP'}

In [61]:
cursos['Empreendedorismo']

'EMP'

In [258]:
''' ENTRADA '''

df_samples = pd.read_excel('Alunos_concluintes_convert_w_cursos.xlsx')
df_samples

,#,CPF,Aluno,E-mail,Curso,Data da Prova,Nota
0,1,8208366994,ELISSIANE APARECIDA CAMPOS DOS SANTOS,camposelissiane@gmail.com,Empreendedorismo,29/07/2020,6
1,2,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Associativismo,25/10/2020,8
2,3,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Custos de Produção,08/11/2020,9
3,4,8208366994,ELISSIANE APARECIDA CAMPOS DOS SANTOS,camposelissiane@gmail.com,Analise e elaboração de casos praticos,29/07/2020,6
4,5,11111111111,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Agricultura familiar,25/10/2020,8
5,6,12322233344,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Acesso a credito e linhas de fomento,08/11/2020,9
6,7,8208366994,ELISSIANE APARECIDA CAMPOS DOS SANTOS,camposelissiane@gmail.com,Contabilidade basica,29/07/2020,6
7,8,234,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Economia domestica e consumo responsavel,25/10/2020,8
8,9,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,Fundamentos de educação financeira,08/11/2020,9
9,10,8208366994,ELISSIANE APARECIDA CAMPOS DOS SANTOS,camposelissiane@gmail.com,Introdução a economia agricula,29/07/2020,6
10,11,39370361804,HELOISA DE FRANCA DIAS,negraluiza@gmail.com,poupança e credito pessoal,25/10/2020,8

In [262]:
df_samples.dtypes

#                 int64
CPF               int64
Aluno            object
E-mail           object
Curso            object
Data da Prova    string
Nota              int64
semstre          object
dtype: object

In [260]:
df_samples['Data da Prova'] = [datetime.strptime(x, '%d/%m/%Y') for x in df_samples['Data da Prova']]
df_samples['semstre'] = np.where(df_samples['Data da Prova'] < datetime.strptime('01/06/2020', '%d/%m/%Y'), '01', '02')
df_samples['Data da Prova'] = pd.Series(df_samples['Data da Prova'], dtype="string")

In [261]:
'temp'+df_samples['semstre']

0     temp02
1     temp02
2     temp02
3     temp02
4     temp02
5     temp02
6     temp02
7     temp02
8     temp02
9     temp02
10    temp02
Name: semstre, dtype: object

In [168]:
''' SAIDA '''

df_samples_2= pd.read_csv('Certificados NEES - 100 DIAS 100 CUSTOS (1).csv', delimiter=';')
df_samples_2.head(3)

,E-mail,Turma,Nome do curso,CPF,Nome,Período do curso
0,gustavoabreu@id.uff.br,ABCMF2020.01,ABC do Mercado Financeiro,16258077757,Gustavo Abreu,30/03/2020 a 29/04/2020
1,silva989898@gmail.com,ABCMF2020.01,ABC do Mercado Financeiro,15753316751,Bruno Almeida,30/03/2020 a 29/04/2020
2,aniviivina@live.com,ABCMF2020.01,ABC do Mercado Financeiro,14200281708,Ivina Barbosa,30/03/2020 a 29/04/2020

In [129]:
from datetime import datetime
from dateutil.relativedelta import *

In [167]:
sorted(df_samples['Curso'].values)

['Acesso a credito e linhas de fomento',
 'Agricultura familiar',
 'Analise e elaboração de casos praticos',
 'Associativismo',
 'Contabilidade basica',
 'Custos de Produção',
 'Economia domestica e consumo responsavel',
 'Empreendedorismo',
 'Fundamentos de educação financeira',
 'Introdução a economia agricula',
 'poupança e credito pessoal']

In [277]:

def build_df(df_path):
    df_in = pd.read_excel(df_path)

    
    cursos = sorted(df_in.Curso.unique())
    tags = ['ACLF','AF', 'AECP', 'ASS', 'CB', 'CP', 'EDCR', 'EMP', 'FEF', 'IEA', 'PCP']
    cursos_dict = dict(zip(cursos, tags))



    df_out = pd.DataFrame()
    df_out['E-mail'] = pd.Series(df_in['E-mail'], dtype="string")
    df_out['Turma'] = [cursos_dict[x] for x in df_in['Curso'].values]
    df_out['Nome do curso'] = df_in['Curso']
    
    ''' AUTOCOMPLETE CPF  AND FORMAT'''
    df_out['CPF'] = [autocomplete(str(x), 11, '0', 'left') for x in df_in['CPF'].values]
    df_out['CPF'] = pd.Series(df_out['CPF'], dtype="string")

    df_out['Nome'] = pd.Series(df_in['Aluno'], dtype="string")
    df_out['Nome'] = [x.title() for x in df_out['Nome'].values]
    
    df_out['periodo'] = [str((datetime.strptime(x, '%d/%m/%Y')).date())+' a ' + str((datetime.strptime(x, '%d/%m/%Y')+relativedelta(months=+1)).date()) for x in df_in['Data da Prova']]

    df_in['Data da Prova'] = [datetime.strptime(x, '%d/%m/%Y') for x in df_in['Data da Prova']]
    df_in['semestre'] = np.where(df_in['Data da Prova'] < datetime.strptime('01/06/2020', '%d/%m/%Y'), '01', '02')
    df_in['Data da Prova'] = pd.Series(df_in['Data da Prova'], dtype="string")
    df_in['Ano'] = [x.split('-')[0] for x in df_in['Data da Prova'].values]
    df_out['Turma'] = df_out['Turma']+df_in['Ano']+'.'+df_in['semestre']

    df_out['E-mail'] = pd.Series(df_out['E-mail'], dtype="string")
    df_out['Turma'] = pd.Series(df_out['Turma'], dtype="string")
    df_out['Nome do curso'] = pd.Series(df_out['Nome do curso'], dtype="string")
    df_out['CPF'] = pd.Series(df_out['CPF'], dtype="string")
    df_out['Nome'] = pd.Series(df_out['Nome'], dtype="string")
    df_out['periodo'] = pd.Series(df_out['periodo'], dtype="string")
    ''' VALIDATE CPF '''
    df_out_final = df_out[df_out['CPF'].apply(lambda x: validate(str(x)))]

    ''' NOT VALIDE CPFs '''
    df_out_cpf_rejected = df_out[df_out['CPF'].apply(lambda x: not validate(str(x)))]
    
    return df_out_final, df_out_cpf_rejected

In [278]:
df, df_rejected = build_df('Alunos_concluintes_convert_w_cursos.xlsx')

In [279]:
df

,E-mail,Turma,Nome do curso,CPF,Nome,periodo
0,camposelissiane@gmail.com,EMP2020.02,Empreendedorismo,08208366994,Elissiane Aparecida Campos Dos Santos,2020-07-29 a 2020-08-29
1,negraluiza@gmail.com,ASS2020.02,Associativismo,39370361804,Heloisa De Franca Dias,2020-10-25 a 2020-11-25
2,negraluiza@gmail.com,CP2020.02,Custos de Produção,39370361804,Heloisa De Franca Dias,2020-11-08 a 2020-12-08
3,camposelissiane@gmail.com,AECP2020.02,Analise e elaboração de casos praticos,08208366994,Elissiane Aparecida Campos Dos Santos,2020-07-29 a 2020-08-29
6,camposelissiane@gmail.com,CB2020.02,Contabilidade basica,08208366994,Elissiane Aparecida Campos Dos Santos,2020-07-29 a 2020-08-29
8,negraluiza@gmail.com,FEF2020.02,Fundamentos de educação financeira,39370361804,Heloisa De Franca Dias,2020-11-08 a 2020-12-08
9,camposelissiane@gmail.com,IEA2020.02,Introdução a economia agricula,08208366994,Elissiane Aparecida Campos Dos Santos,2020-07-29 a 2020-08-29
10,negraluiza@gmail.com,PCP2020.02,poupança e credito pessoal,39370361804,Heloisa De Franca Dias,2020-10-25 a 2020-11-25

In [280]:
df_rejected

,E-mail,Turma,Nome do curso,CPF,Nome,periodo
4,negraluiza@gmail.com,AF2020.02,Agricultura familiar,11111111111,Heloisa De Franca Dias,2020-10-25 a 2020-11-25
5,negraluiza@gmail.com,ACLF2020.02,Acesso a credito e linhas de fomento,12322233344,Heloisa De Franca Dias,2020-11-08 a 2020-12-08
7,negraluiza@gmail.com,EDCR2020.02,Economia domestica e consumo responsavel,00000000234,Heloisa De Franca Dias,2020-10-25 a 2020-11-25

In [213]:
df.dtypes

E-mail           string
Turma            string
Nome do curso    string
CPF              string
Nome             string
periodo          string
dtype: object

In [81]:
''' SAIDA '''

df_samples_2= pd.read_csv('Certificados NEES - 100 DIAS 100 CUSTOS (1).csv', delimiter=';')
df_samples_2.head(3)

,E-mail,Turma,Nome do curso,CPF,Nome,Período do curso
0,gustavoabreu@id.uff.br,ABCMF2020.01,ABC do Mercado Financeiro,16258077757,Gustavo Abreu,30/03/2020 a 29/04/2020
1,silva989898@gmail.com,ABCMF2020.01,ABC do Mercado Financeiro,15753316751,Bruno Almeida,30/03/2020 a 29/04/2020
2,aniviivina@live.com,ABCMF2020.01,ABC do Mercado Financeiro,14200281708,Ivina Barbosa,30/03/2020 a 29/04/2020